/* -------------------- */
/* BASIC SETUP */
/* -------------------- */

html {
	box-sizing: border-box;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	color: white;
	--blue: #0059b3;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* -------------------- */
/* REUSABLE COMPONENTS */
/* -------------------- */

/* ----- HEADINGS ----- */

h1 {
	text-transform: uppercase;
	font-size: 4em;
	text-align: center;
}

#typed {
	font-size: 4em;
}
/* Cursor */
.typed-cursor {
	font-size: 4em;
	animation: blink-animation 1s steps(5, start) infinite;
}
/* Blinking animation for cursor */
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* -------------------- */
/* HEADER */
/* -------------------- */

header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/WVnZYIC.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.hero-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* ----- BUTTONS ----- */

.hero-btn-panel {
	display: flex;
	margin-top: 80px;
}

.hero-btn:link,
.hero-btn:visited {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	border: 2px solid white;
	padding: 5px;
	border-radius: 2px;
	margin-left: 30px;
	transition: all 0.2s ease-in-out;
}

.hero-btn:hover,
.hero-btn:active {
	/* Cannot transform inline elements(e.g. anchor tags). Could also wrap each btn in a parent div. */
	display: block;
	transform: scale(1.1);
}

/* ----- NAV BAR ----- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	background: rgba(0, 0, 0, 0.4);
	
	/* Keeping Navbar fixed */
	position: fixed;
	left: 0;
	right: 0;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	color: white;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid transparent;

}

nav a:active,
nav a:hover {
	display: block;
	border-bottom: 2px solid white;
	transform: scale(1.1);
}

/* -------------------- */
/* ABOUT ME */
/* -------------------- */

.section-aboutme {
	background-color: #0059b3;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutme-wrapper {
	display: flex;
	width: 70%;
}

.avatar-img {
	width: 300px;
	height: 300px;
	margin: auto 5% auto 0;
	border: 4px solid white;
}

.img-circle {
	border-radius: 50%;
}

.aboutme-text p {
	margin-bottom: 20px;
}

.aboutme-text p:last-child {
	margin-bottom: 0;
}

/* -------------------- */
/* SKILLS */
/* -------------------- */

.section-skills {
	height: 100vh;
	background-color: white;
	color: #0059b3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-text {
	/*flex-basis: 45%;*/
}

.skills-wrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
}

/* ----- SKILLS BAR ----- */

.bars-wrapper {
	margin-top: 70px;
	display: flex;
	justify-content: center;

}

#container1,
#container2,
#container3,
#container4 {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.circle-bar {
	width: 244px;
}

.circle-bar p {
	width: 200px;
	margin: 20px;
	text-align: center;
}

/* -------------------- */
/* PROJECT GALLERY */
/* -------------------- */

.section-project-gallery {
	height: 100vh;
	background-color: #0059b3;
	display: flex;
}

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	margin: 70px auto;
}

.project {
	width: 400px;
	margin: 5px;
}

.project:nth-of-type(1) {
	background: url('http://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/12/2016/01/16578.jpg');
	background-size: cover;
	background-position: center;
}

.project:nth-of-type(2) {
	background: url('https://www.publicdomainpictures.net/pictures/30000/velka/the-english-landscape-1335432497B7W.jpg');
	background-size: cover;
	background-position: center;
}

.project:nth-of-type(3) {
	background: url('http://www.freelarge-images.com/wp-content/uploads/2014/12/Landscape_01.jpg');
	background-size: cover;
	background-position: center;
}

.project:nth-of-type(4) {
	background: url('https://posterjackcanada.files.wordpress.com/2015/02/hdr-landscape-reflections-of-clouds-in-water.jpg');
	background-size: cover;
	background-position: center;
}

.project:nth-of-type(5) {
	background: url('https://1.bp.blogspot.com/-TQiNTNxcfJg/ThsKEfccf1I/AAAAAAAAAR8/2i0-56tLzmc/s1600/desktop_landscape_wallpaper.jpg');
	background-size: cover;
	background-position: center;
}

.project:nth-of-type(6) {
	background: url('https://blog.phowd.com/wp-content/uploads/2014/11/landscape-photography-light.jpg');
	background-size: cover;
	background-position: center;
}

.project p {
	/*visibility: hidden;*/
}

.project p:hover {
	visibility: hidden;
	/*opacity: 0.4;*/
}

#test-btn {
	height: 40px;
}

.project-container {
	width: 25%;
	position: relative;
}

.project-container img {
	width: 100%;
	height: auto;
}

.project-text {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.project-container:hover img {
	opacity: 0.3;
}

.project-container:hover .project-text {
	opacity: 1;
}

/* Use JS to animate the text over images and opaque background when hovered over */
/* DO NOT NEED JS - CAN JUST USE CSS */

/* -------------------- */
/* FOOTER / CONTACT */
/* -------------------- */

footer {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--blue);
}

.contact-links {
	margin-right: 70px;
}

footer a {
	color: var(--blue);
	font-size: 1.5em;
}