/* -------------------- */
/* BASIC SETUP */
/* -------------------- */

html {
	box-sizing: border-box;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* -------------------- */
/* REUSABLE COMPONENTS */
/* -------------------- */

/* ----- HEADINGS ----- */

h1 {
	text-transform: uppercase;
	font-size: 4em;
	text-align: center;
}

#typed {
	font-size: 2em;
}
/* Cursor */
.typed-cursor {
	font-size: 2em;
	animation: blink-animation 1s steps(5, start) infinite;
}
/* Blinking animation for cursor */
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* -------------------- */
/* HEADER */
/* -------------------- */

header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/WVnZYIC.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.hero-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* ----- NAV BAR ----- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	background: rgba(0, 0, 0, 0.4);
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:active,
nav a:hover {
	border-bottom: 2px solid white;
}