.about-me-section {
	--blue: #2D52B6;
	color: var(--blue);
	padding: 70px 0;
}

.profile-img-wrapper {
	height: 450px;
	width: 450px;
	border: 10px solid var(--blue);
	border-radius: 50%;
	background-image: url('../img/mirtsuljic_photo.jpg');
	background-size: cover;
	background-position: center;
}
