header {
	--blue: #2D52B6;
	background-color: var(--blue);
	color: white;
	height: 100vh;
}

#hero-text {
	text-align: center;
	padding: 40px;
	border: 10px solid white;
}

#typed {
	font-size: 3.5em;
	font-weight: 300;
}

.typed-cursor {
	font-size: 3.5em;
	font-weight: 300;
}

.main-btn-panel {
	margin-top: 40px;
}

#hire-btn {
	color: var(--blue);
	background-color: white;
	border: 1px solid var(--blue);
	border-radius: 0;
}

#work-btn {
	background-color: var(--blue);
	border: 1px solid white;
	border-radius: 0;

}

#my-nav {
	color: var(--blue);
}